<section class="relative z-10 overflow-hidden bg-[#00a89c] text-black py-4">

    <a href="/cafeteria" class="whitespace-nowrap animate-marquee block">
      <div class="relative flex overflow-hidden whitespace-nowrap">
        <!-- Contenedor con dos copias del texto -->
        <div class="flex animate-marquee min-w-max">
          <span class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold flex space-x-4">
            <span> ¡NUEVA CAFETERÍA ABIERTA! ✦ NEW COFFEE SHOP OPEN ✦ VISÍTANOS HOY ✦ COME VISIT US TODAY ✦ DISFRUTA UN CAFÉ EXCEPCIONAL ✦ ENJOY EXCEPTIONAL COFFEE ✦ </span>
            <span> ¡NUEVA CAFETERÍA ABIERTA! ✦ NEW COFFEE SHOP OPEN ✦ VISÍTANOS HOY ✦ COME VISIT US TODAY ✦ DISFRUTA UN CAFÉ EXCEPCIONAL ✦ ENJOY EXCEPTIONAL COFFEE ✦ </span>
          </span>
        </div>
      </div>
    </a>
  </section>