---
import Image from '../common/Image.astro';



interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}


---

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<footer aria-labelledby="footer-heading" class="relative border-t border-gray-900/10 py-20 mt-10">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="flex items-center justify-center">
          <a href="" class="-m-1.5 p-1.5 flex items-center justify-center">
            <div class="logo-container">
              <Image class="logo-img" src="~/assets/images/general/logopastel.webp" alt="logo">
            </div>
            
            <style>
              .logo-container {
                width: 80px; /* Tamaño del contenedor */
                height: 80px; /* Igual al ancho para mantener proporción */
                border-radius: 50%; /* Hace que el contenedor sea circular */
                overflow: hidden; /* Oculta las esquinas sobrantes */
                display: flex;
                align-items: center;
                justify-content: center;
              }
            
              .logo-img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Evita que la imagen se deforme */
              }
            
              /* Ajustes para dispositivos móviles */
              @media (max-width: 768px) { 
                .logo-container {
                  width: 50px;
                  height: 50px;
                }
              }
            </style>
            
            
            <span class="ml-1 text-lg">Pasteleria America</span>
          </a>
      </div>
      <div class="mt-16 grid grid-cols-1 gap-8 xl:col-span-2 xl:mt-0">
          <div class="md:grid md:grid-cols-1 md:gap-8">
            <div class="flex justify-evenly">
              <div>
                <a href="https://wa.me/523319242398" target="_blank" class="text-md leading-6 text-green-600 hover:text-gray-900 flex items-center">
                  <i class="fab fa-whatsapp mr-2 text-green-500"></i>Whatsapp
                </a>
              </div>
              <div>
                <a href="https://www.instagram.com/pasteleriaamericachapala_?igsh=dTBhcTJqZXFpNWNv" target="_blank" class="text-md leading-6 text-pink-600 hover:text-gray-900 flex items-center">
                  <i class="fab fa-instagram mr-2 text-pink-500"></i>Instagram
                </a>
              </div>
              <div>
                <a href="https://www.facebook.com/PASTELERIAAMERICACHAPALA?mibextid=wwXIfr&mibextid=wwXIfr" target="_blank" class="text-md leading-6 text-blue-600 hover:text-gray-900 flex items-center">
                  <i class="fab fa-facebook mr-2 text-blue-600"></i>Facebook
                </a>
              </div>
            </div>
            
          </div>
      </div>
  </div>
</footer>

<div class="p-4 from-box-bg lg:px-20 sm:px-2 relative">
  <div class="flex justify-between items-center gap-6 text-sm color-[#ffffffb5]">
      <div>
          &copy; <span id="year"></span>Pasteleria America
      </div>
      <div>
          Hecho por <a href="https://udigitalbusiness.com/" class="font-semibold" target="blank">UDigital Business</a>
      </div>
  </div>
</div>