---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/blog/Headline.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Sucursal Ajijjc',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Pasteleria America"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
     <span data-translate="sucursalajijic"> Sucursal Ajijic</span> 
    </Fragment>

    <Fragment slot="subtitle">
     <span data-translate="sucursalajijicsubtitle">Ubicada en el pintoresco pueblo de Ajijic, nuestra sucursal combina el encanto del lago con el dulce sabor de nuestros postres. Disfruta de un ambiente relajado y acogedor mientras saboreas nuestras especialidades recién horneadas. ¡Un lugar perfecto para consentirte!</span>
    </Fragment>
  </Hero>

  
    <!-- Mapa ******************* -->
<WidgetWrapper> 
  <Headline 
   title= "visit"
   subtitle=" "
   />
  <!-- Contenedor del mapa y detalles -->
  <div class="section row pb-0">
      <!-- Mapa de Google Maps -->
      <iframe
        class="w-full h-80 md:h-96 rounded-lg shadow-lg"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3741.9815186239657!2d-103.26550270321047!3d20.301032100000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f46ab3ccb98f9%3A0x8ca9333904442ea4!2sPasteler%C3%ADa%20Am%C3%A9rica%20Suc.%20Ajijic!5e0!3m2!1ses!2smx!4v1739997962106!5m2!1ses!2smx" 
        allowfullscreen=""
        loading="lazy"
        style="border: 0;"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
  </div>  
      <Fragment>
          <div style="margin-top: 30px; display: flex; gap: 20px; justify-content: center; align-items: flex-start;">
              <!-- Columna izquierda -->
              <div style="flex: 1; text-align: center;">
                <!-- Imagen -->
                <div><Image src="~/assets/images/general/reloj.webp" alt="Imagen" width="100" height="100" style="display: block; margin: 0 auto 15px;"></div> 
            
                <!-- Subtítulo en negritas -->
                <p class="dark:text-white" style="font-weight: bold; margin-bottom: 10px;" data-translate="horario">Horario</p>
            
                <!-- Lista de frases -->
                <ul style="list-style-type: none; margin: 0; padding: 0;">
                  <li class="dark:text-white" data-translate="horaajijic1">Lunes - Sábado 8:30a.m - 9p.m</li>
                  <li class="dark:text-white"  data-translate="horaajijic2">Domingo 8:30a.m - 7p.m</li>
                 
                </ul>
              </div>
            
              <!-- Columna derecha -->
              <div style="flex: 1; text-align: center;">
                <!-- Imagen -->
                <div><Image src="~/assets/images/general/ubicacion.webp" alt="Imagen" width="100" height="100" style="display: block; margin: 0 auto 15px;"></div>
            
                <!-- Subtítulo en negritas -->
                <p style="font-weight: bold; margin-bottom: 10px;" data-translate="ubicacion">Localización</p>
            
                <!-- Lista de frases -->
                <ul style="list-style-type: none; margin: 0; padding: 0;">
                  <li>Carretera Ote. 24, 45920 Ajijic, Jal.</li>
                </ul>
              </div>
            </div>     
      </Fragment>
  </WidgetWrapper>

  <CallToAction
  title="pedidos"
  subtitle="pedidos1"
  actions={[
      {
        text: 'Contactanos',
        href: 'tel:3322052086',
      },
    ]}
  />
</Layout>
