---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/blog/Headline.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Sucursal Chapala',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Pasteleria America"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      <span data-translate="sucursalchapala">Sucursal Chapala</span> 
    </Fragment>

    <Fragment slot="subtitle">
       <span data-translate="sucursalchapalasubtitle"> Ubicada en el corazón de Chapala, nuestra sucursal ofrece un ambiente acogedor donde podrás disfrutar de nuestros exquisitos pasteles y postres artesanales. Con una vista increíble y un espacio cómodo, es el lugar ideal para compartir momentos dulces con tus seres queridos. </span>
    </Fragment>
  </Hero>

    <!-- Mapa ******************* -->
<WidgetWrapper> 
    <Headline 
     title= "visit"
     subtitle=""
     ></Headline>
    <!-- Contenedor del mapa y detalles -->
    <div class="section row pb-0">
        <!-- Mapa de Google Maps -->
        <iframe
          class="w-full h-80 md:h-96 rounded-lg shadow-lg"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233.8916464633171!2d-103.19128623734669!3d20.28923981276817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f40b99cce6193%3A0xcbe949537f52c5c1!2sPasteler%C3%ADa%20Am%C3%A9rica%20Suc.%20Chapala!5e0!3m2!1ses!2smx!4v1739997390647!5m2!1ses!2smx" 
          allowfullscreen=""
          loading="lazy"
          style="border: 0;"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        </div>  
        <Fragment>
            <div style="margin-top: 30px; display: flex; gap: 20px; justify-content: center; align-items: flex-start;">
                <!-- Columna izquierda -->
                <div style="flex: 1; text-align: center;">
                  <!-- Imagen -->
                <div><Image src="~/assets/images/general/reloj.webp" alt="Imagen" width="100" height="100" style="display: block; margin: 0 auto 15px;"></div>
              
                  <!-- Subtítulo en negritas -->
                  <p style="font-weight: bold; margin-bottom: 10px;" data-translate="horario">Horario</p>
              
                  <!-- Lista de frases -->
                  <ul style="list-style-type: none; margin: 0; padding: 0;">
                    <li data-translate="horachapala1">Lunes - Sábado 9a.m - 9p.m</li>
                    <li data-translate="horachapala2">Domingo 9a.m - 8p.m</li>                 
                  </ul>
                </div>
              
                <!-- Columna derecha -->
                <div style="flex: 1; text-align: center;">
                  <!-- Imagen -->
                  <div><Image src="~/assets/images/general/ubicacion.webp" alt="Imagen" width="100" height="100" style="display: block; margin: 0 auto 15px;"></div>
              
                  <!-- Subtítulo en negritas -->
                  <p style="font-weight: bold; margin-bottom: 10px;" data-translate="ubicacion">Localización</p>
              
                  <!-- Lista de frases -->
                  <ul style="list-style-type: none; margin: 0; padding: 0;">
                    <li>Morelos 158, Chapala Centro, 45900 Chapala, Jal.</li>
                  </ul>
                </div>
              </div>     
        </Fragment>
    </WidgetWrapper>

    <CallToAction
    title="pedidos"
    subtitle="pedidos1"
    actions={[
      {
        text: 'Contactanos',
        href: 'tel:3322052086',
      },
    ]}
  />
</Layout>
