---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features2 from '~/components/widgets/Features3.astro';





const metadata = {
  title: 'Pasteleria America',
};
---

<Layout metadata={metadata}>
  <Hero2
    tagline=""
    image={{
      src: '~/assets/images/pasteleria3.jpg',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Pasteleria America</span><br />  <span
        class="hidden xl:inline"></span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Pasteler칤a Am칠rica es un negocio especializado en la creaci칩n de postres y pasteles artesanales, caracterizado por su calidad, tradici칩n y estilo elegante. Ofrece una variedad de opciones dulces, ideales para celebraciones y momentos especiales, destac치ndose por su atenci칩n al detalle y sabores exquisitos.
      </span>  
    </Fragment>
  </Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id=""
    title="쮹uscas el pastel perfecto o un postre delicioso? "
    subtitle="Con nuestro proceso sencillo y personalizado, puedes encargar tus dulces favoritos en pocos pasos. Descubre c칩mo hacerlo y disfruta de una experiencia dulce y sin complicaciones."
    columns={2}
    items={[
      {
        title: 'Explora nuestro men칰',
        description: `Revisa nuestra variedad de productos: pasteles personalizados, postres individuales, y m치s. Encuentra inspiraci칩n en nuestra galer칤a de sabores y decoraciones.`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Cont치ctanos o realiza tu pedido en l칤nea',
        description:
          'Haz tu pedido directamente desde nuestra tienda en l칤nea o cont치ctanos para consultas y personalizaciones. Nos encanta hacer realidad tus ideas dulces.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Personaliza tu elecci칩n',
        description: 'Selecciona sabores, tama침os y decoraciones especiales para hacer tu pastel 칰nico. Nuestros expertos en reposter칤a te ayudar치n a lograrlo.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Recoge o recibe tu pedido',
        description: `Pasa por nuestra tienda para recoger tu pedido o aprovecha nuestro servicio de entrega a domicilio.`,
        icon: 'tabler:square-number-4',
      },
    ]}
    image={{
      src: '~/assets/images/pasteleria2.jpg',
      alt: 'Colorful Image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Sabores 칰nicos y de alta calidad',
        description:
          'Usamos ingredientes frescos y seleccionados cuidadosamente para garantizar el mejor sabor en cada bocado.',
        icon: 'tabler:wand',
      },
      {
        title: 'Dise침os personalizados',
        description:
          'Ofrecemos pasteles y postres con decoraciones 칰nicas adaptadas a tus gustos y ocasiones especiales.',
        icon: 'tabler:settings',
      },
      {
        title: 'Atenci칩n al detalle',
        description:
          'Cada creaci칩n es elaborada artesanalmente, asegur치ndonos de cumplir con tus expectativas.',
        icon: 'tabler:template',
      },
      {
        title: 'Entrega confiable',
        description: 'Recibe tus pedidos a tiempo con nuestro servicio de entrega a domicilio, perfecto para eventos importantes.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: '~/assets/images/pasteleria1.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Lo que nos hace 칰nicos</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'Offline Access',
        description: 'Offer the option for users to download purchased templates for offline use.',
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Secure Cloud Storage',
        description:
          'Provide cloud storage for purchased templates, ensuring users can access and back up their templates from anywhere securely.',
        icon: 'tabler:file-download',
      },
      {
        title: 'Regular Updates',
        description: 'Continuously add new templates and features to keep the app fresh and engaging for users.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Wishlist',
        description: `Allow users to create a wishlist of templates they're interested in, making it easier for them to revisit and potentially purchase later.`,
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Other features</h3>
    </Fragment>
  </Content> -->

  <Features2
    title="Vis칤tanos"
    columns={3}
    mapas={true}
    items={[
      {
        title: 'Chapala',
        description: 'Morelos 158, Chapala Centro, 45900 Chapala, Jal.',
        mapSrc: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119752.52686256525!2d-103.34356060273433!3d20.289234799999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f40b99cce6193%3A0xcbe949537f52c5c1!2sPasteler%C3%ADa%20Am%C3%A9rica%20Suc.%20Chapala!5e0!3m2!1ses-419!2smx!4v1738036002607!5m2!1ses-419!2sm'
      },
      {
        title: 'Ajijic',
        description: 'Carretera Jocotepec-Chapala 24, 45920 Ajijic, Jal.',
        mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119752.52686256525!2d-103.34356060273433!3d20.289234799999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f46ab3ccb98f9%3A0x8ca9333904442ea4!2sPasteler%C3%ADa%20Am%C3%A9rica%20Suc.%20Ajijic!5e0!3m2!1ses-419!2smx!4v1738037946238!5m2!1ses-419!2smx" 
      },
      {
        title: 'Jocotepec',
        description: 'Carretera Jocotepec-Chapala 1561, 45822 Ajijic, Jal.',
        mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119752.28894769448!2d-103.46808600273435!3d20.289542700000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f43002eaf3781%3A0xe47c3eb25c4dadc!2sPasteler%C3%ADa%20america!5e0!3m2!1ses-419!2smx!4v1738038033105!5m2!1ses-419!2smx" 

        
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics of our app"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  /> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Testimonios"
    testimonials={[
      {
        testimonial: `Riqu칤simos los pasteles hechos con amor! Desde la envoltura y la atenci칩n y todo, no se diga de las gelatinas s칰per ricas al momento de disfrutarlas saben a su sabor y no tan dulces! Me encanta pasteler칤a america por su rico sabor Casero, y se con el cari침o y amor q los preparan y eso se sabe! 游눗游뱅游九뻟눗`,
        name: 'Ana Pantoja',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/ava01.png',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `Excelente calidad de pasteles y un sabor 칰nico.`,
        name: 'Juan Antonio L칩pez Mart칤nez',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/ava05.png',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:'Excelente servicio, muy buena calidad, super deliciosos, demasiado creativos, muy profesionales y super amables! Me encantan sus pasteles, todos son super deliciosos! 游뱏 Super recomendado! 游뱅',
        name: 'Lizzet Jimenez',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/ava02.png',
          alt: 'Sidney Hansen Image',
        },
      },
      {
        testimonial: `Excelente servicio sabor calidad en decoraci칩n ni se diga hermosos pasteles una reposter칤a rica!!!`,
        name: 'Celia Gutierrez',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/ava03.png',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `Excelente pasteleria, la mejor en Ribera de Chapala. No vayas a ning칰n otro lado.`,
        name: 'Lou Quillio',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/ava06.png',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'Los pasteles est치n deliciosos y tienen gran variedad de producto y las decoraciones son muy bonitas',
        name: 'Beatryz Llanos',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/ava04.png',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    items={[
      {
        title: '쯇uedo personalizar mi pastel o postre?',
        description:
          '춰S칤, definitivamente! Puedes personalizar tu pastel o postre con nombres, colores, temas espec칤ficos e incluso sabores 칰nicos. Solo aseg칰rate de informarnos sobre tus preferencias al hacer el pedido, y nos encargaremos de hacer que tu dise침o sea perfecto.',
      },
      {
        title: '쮺on cu치nta anticipaci칩n debo hacer mi pedido? ',
        description:
          ' Para eventos especiales como cumplea침os o bodas, recomendamos hacer tu pedido con al menos 3 a 5 d칤as de anticipaci칩n. Si se trata de un pedido m치s grande o con decoraciones complejas, es ideal hacerlo con una semana de antelaci칩n. 춰Cuanto antes, mejor para asegurarte de que tengamos disponibilidad!',
      },
      {
        title: '쯊ienen opciones para personas con restricciones alimenticias?',
        description: `S칤, ofrecemos opciones para personas con diversas restricciones alimenticias. Tenemos pasteles sin gluten, sin az칰car, veganos y sin l치cteos. Por favor, ind칤canos cualquier restricci칩n al realizar tu pedido y nos aseguraremos de ofrecerte una opci칩n deliciosa y segura.`,
      },
      {
        title: '쯆frecen servicio de entrega a domicilio?',
        description:
          'S칤, ofrecemos servicio de entrega a domicilio. Puedes optar por esta opci칩n al hacer tu pedido, y nos aseguraremos de que tu pastel o postre llegue a tiempo y en perfecto estado, directamente a la ubicaci칩n que elijas.',
      },
      {
        title: '쮺u치les son los sabores y tama침os disponibles? ',
        description:
          'Tenemos una variedad de sabores para elegir, incluyendo vainilla, chocolate, red velvet, frutas y m치s. Adem치s, ofrecemos diferentes tama침os de pasteles seg칰n tus necesidades, desde peque침os para reuniones familiares hasta grandes para eventos. 춰No dudes en preguntar por nuestras opciones y nos aseguraremos de que encuentres la perfecta para tu ocasi칩n!',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  
</Layout>
