---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import Etiqueta from '~/components/widgets/etiqueta.astro';
import Features2 from '~/components/widgets/Features3.astro';






const metadata = {
  title: 'Progress PT Medical Group',
};
---

<Layout metadata={metadata}>
  <Hero2
  actions={[
    { text: 'Contactanos', href: 'https://wa.me/+523317743647', target: '_blank' },
  ]}
    image={{
      src: '~/assets/images/general/inicio.png',
      alt: 'Pasteles Deliciosos',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight bg-gradient-to-r from-[#01ab9e] to-[#000000] text-transparent bg-clip-text text-6xl">Progress PT Medical Group</span>



      
<br />  <span class="hidden xl:inline"></span>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline dark:text-white" data-translate="INICIO1">
        Donde la tecnología y la creatividad convergen: tu visión, nuestro código.
        Somos expertos digitales que transformamos ideas en soluciones innovadoras. Nuestra pasión es el desarrollo de software de vanguardia y presentar calidad en cada proyecto.
      </span>  
    </Fragment>
  </Hero2>
  <a href="/errores-comunes-al-hornear-pasteles">
    <section class="relative z-10 overflow-hidden bg-[#00a89c] text-black py-4">
      <div class="relative flex overflow-hidden whitespace-nowrap">
        <!-- Contenedor con dos copias del texto -->
        <div class="flex animate-marquee min-w-max">
            <span class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold flex space-x-4">
              <span> ¡CONOCE NUESTRA CÁMARA HIPERBÁRICA! ✦ GET TO KNOW OUR HYPERBARIC CHAMBER ✦ VISÍTANOS HOY ✦ COME VISIT US TODAY ✦ DISFRUTA NUESTRA NUEVA MAQUINA ✦ ENJOY OUR NEW MACHINE ✦ </span>
              <span> ¡CONOCE NUESTRA CÁMARA HIPERBÁRICA! ✦ GET TO KNOW OUR HYPERBARIC CHAMBER ✦ VISÍTANOS HOY ✦ COME VISIT US TODAY ✦ DISFRUTA NUESTRA NUEVA MAQUINA ✦ ENJOY OUR NEW MACHINE ✦ </span>
            </span>
          </div>
        </div>
      </section>
    </a>

  <!-- Features3 Widget ************** -->

  <Features3
    id=""
    title="buscas"
    subtitle="buscas1"
    columns={2}
    items={[
      {
        title: 'paso1',
        description: `DESCRIPTION1`,
        icon: 'tabler:world-star',
        href: '/info/terapia-fisica',
      },
      {
        title: 'paso2',
        description:
          'DESCRIPTION2',
        icon: 'tabler:square-number-2',
        href: '/info/rehabilitacion',
      },
      {
        title: 'paso3',
        description: 'DESCRIPTION3',
        icon: 'tabler:square-number-3',
        href: '/info/manejo-dolor',
      },
      {
        title: 'paso4',
        description: `DESCRIPTION4`,
        icon: 'tabler:square-number-4',
        href: '/info/fisioterapia-postoperatoria',
      },
    ]}
    image={{
      src: '~/assets/images/general/prougres.png',
      alt: 'Barra de Pasteles',
    }}
    
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'WID1',
        description:
          'WID_1',
        icon: 'tabler:wand',
      },
      {
        title: 'WID2',
        description:
          'WID_2',
        icon: 'tabler:settings',
      },
      {
        title: 'WID3',
        description:
          'WID_3',
        icon: 'tabler:mood-happy-filled',
      },
      {
        title: 'WID4',
        description: 'WID_4',
        icon: 'tabler:circle-check-filled',
      },
    ]}
    image={{
      src: '~/assets/images/general/entrada.JPG',
      alt: 'Pastel de con cerdos en el lodo',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2" data-translate="unico">Lo que nos hace únicos</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

   <!-- <Content
    isAfterContent
    items={[
      { 
        title: 'Offline Access',
        description: 'Offer the option for users to download purchased templates for offline use.',
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Secure Cloud Storage',
        description:
          'Provide cloud storage for purchased templates, ensuring users can access and back up their templates from anywhere securely.',
        icon: 'tabler:file-download',
      },
      {
        title: 'Regular Updates',
        description: 'Continuously add new templates and features to keep the app fresh and engaging for users.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Wishlist',
        description: `Allow users to create a wishlist of templates they're interested in, making it easier for them to revisit and potentially purchase later.`,
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Other features</h3>
    </Fragment>
  </Content>  -->

  <WidgetWrapper> 
    <Headline 
     title= "Visitanos"
     subtitle=" "
     ></Headline>
    <!-- Contenedor del mapa y detalles -->
    <div class="section row pb-0">
        <!-- Mapa de Google Maps -->
        <iframe
          class="w-full h-80 md:h-96 rounded-lg shadow-lg"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.165521770552!2d-103.2208173461359!3d20.293414770703635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f414e437bb5f9%3A0x61f5ae5ffe058b2b!2sProgress%20Physical%20Therapy!5e0!3m2!1ses!2smx!4v1742325378435!5m2!1ses!2smx"
          allowfullscreen=""
          loading="lazy"
          style="border: 0;"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        </div>  
        <Fragment>
            <div style="margin-top: 30px; display: flex; gap: 20px; justify-content: center; align-items: flex-start;">
              {/* Columna izquierda */}
              <div style="flex: 1; text-align: center;">
                {/* Imagen */}
                
                {/* Subtítulo en negritas */}
                <p style="font-weight: bold; margin-bottom: 10px;">Horario</p>
                {/* Lista de frases */}
                <ul style="list-style-type: none; margin: 0; padding: 0;">
                  <li>Lunes - Viernes 9a.m - 6p.m</li>
                  <li>Sábados 9a.m - 2p.m</li>
                  <li>Domingo Cerrado</li>
                </ul>
              </div>
          
              {/* Columna derecha */}
              <div style="flex: 1; text-align: center;">
                {/* Imagen */}
                
                {/* Subtítulo en negritas */}
                <p style="font-weight: bold; margin-bottom: 10px;">Localización</p>
                {/* Lista de frases */}
                <ul style="list-style-type: none; margin: 0; padding: 0;">
                  <li>Hidalgo 126, Riberas del Pilar, 45906 San Antonio Tlayacapan, Jal.</li>
                </ul>
              </div>
            </div>
          </Fragment>
          
    </WidgetWrapper>
  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics of our app"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  /> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="testimonials"
    testimonials={[
      {
        testimonial: `testimonios1`,
        name: 'Jiram de la Torre',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar1.webp',
          alt: 'Jiram de la Torre',
        },
      },
      {
        testimonial: `testimonios2`,
        name: 'Salvador Jiménez',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar5.webp',
          alt: 'Salvador Jiménez',
        },
      },
      {
        testimonial:'testimonios3',
        name: 'Quetzalí Pantoja',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar2.webp',
          alt: 'Quetzalí Pantoja',
        },
      },
      {
        testimonial: `testimonios4`,
        name: 'Jorge Aguilar',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar3.webp',
          alt: 'Jorge Aguilar',
        },
      },
      {
        testimonial: `testimonios5`,
        name: 'Mayra Ramírez Higuera',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar6.webp',
          alt: 'Mayra Ramírez Higuera',
        },
      },
      {
        testimonial: 'testimonios6',
        name: 'Gabriel Sotelo',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar3.webp',
          alt: 'Gabriel Sotelo',
        },
      },
    ]}
    
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="FAQS"
    items={[
      {
        title: 'faqs1',
        description:
          'faqs_1',
      },
      {
        title: 'faqs2',
        description:
          'faqs_2',
      },
//       {
//         title: 'faqs3',
//         description: `faqs_3`,
//       },
//       {
//         title: 'faqs4',
//         description:
//           'faqs_4',
//       },
//       {
//         title: 'faqs5',
//         description:
//           'faqs_5',
//       },
//       {
//           title: 'faqs6',
//           description: 'faqs_6'
// }

    ]}
  />

  <!-- CallToAction Widget *********** -->

  
</Layout>
