---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features2 from '~/components/widgets/Features3.astro';





const metadata = {
  title: 'Pasteleria America',
};
---

<Layout metadata={metadata}>
  <Hero2
  actions={[
    { text: 'Contactanos', href: 'https://wa.me/523319242398', target: '_blank' },
  ]}
    image={{
      src: '~/assets/images/general/pasteleria3.webp',
      alt: 'Pasteles Deliciosos',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Pasteleria America</span><br />  <span
        class="hidden xl:inline"></span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline" data-translate="INICIO1">
        Pastelería América es un negocio especializado en la creación de postres y pasteles artesanales, caracterizado por su calidad, tradición y estilo elegante. Ofrece una variedad de opciones dulces, ideales para celebraciones y momentos especiales, destacándose por su atención al detalle y sabores exquisitos.
      </span>  
    </Fragment>
  </Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id=""
    title="buscas"
    subtitle="buscas1"
    columns={2}
    items={[
      {
        title: 'paso1',
        description: `DESCRIPTION1`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'paso2',
        description:
          'DESCRIPTION2',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'paso3',
        description: 'DESCRIPTION3',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'paso4',
        description: `DESCRIPTION4`,
        icon: 'tabler:square-number-4',
      },
    ]}
    image={{
      src: '~/assets/images/general/pasteleria2.webp',
      alt: 'Barra de Pasteles',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'WID1',
        description:
          'WID_1',
        icon: 'tabler:wand',
      },
      {
        title: 'WID2',
        description:
          'WID_2',
        icon: 'tabler:settings',
      },
      {
        title: 'WID3',
        description:
          'WID_3',
        icon: 'tabler:mood-happy-filled',
      },
      {
        title: 'WID4',
        description: 'WID_4',
        icon: 'tabler:circle-check-filled',
      },
    ]}
    image={{
      src: '~/assets/images/productos/pasteles/oreo1.webp',
      alt: 'Pastel de con cerdos en el lodo',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2" data-translate="unico">Lo que nos hace únicos</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'Offline Access',
        description: 'Offer the option for users to download purchased templates for offline use.',
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Secure Cloud Storage',
        description:
          'Provide cloud storage for purchased templates, ensuring users can access and back up their templates from anywhere securely.',
        icon: 'tabler:file-download',
      },
      {
        title: 'Regular Updates',
        description: 'Continuously add new templates and features to keep the app fresh and engaging for users.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Wishlist',
        description: `Allow users to create a wishlist of templates they're interested in, making it easier for them to revisit and potentially purchase later.`,
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Other features</h3>
    </Fragment>
  </Content> -->

  <Features2
    title="visit"
    columns={3}
    mapas={true}
    items={[
      {
        title: 'Chapala',
        description: 'Morelos 158, Chapala Centro, 45900 Chapala, Jal.',
        mapSrc: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119752.52686256525!2d-103.34356060273433!3d20.289234799999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f40b99cce6193%3A0xcbe949537f52c5c1!2sPasteler%C3%ADa%20Am%C3%A9rica%20Suc.%20Chapala!5e0!3m2!1ses-419!2smx!4v1738036002607!5m2!1ses-419!2sm',
        href: '/chapala',
      },
      {
        title: 'Ajijic',
        description: 'Carretera Jocotepec-Chapala 24, 45920 Ajijic, Jal.',
        mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119752.52686256525!2d-103.34356060273433!3d20.289234799999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f46ab3ccb98f9%3A0x8ca9333904442ea4!2sPasteler%C3%ADa%20Am%C3%A9rica%20Suc.%20Ajijic!5e0!3m2!1ses-419!2smx!4v1738037946238!5m2!1ses-419!2smx",
        href: '/ajijic',
      },
      {
        title: 'Jocotepec',
        description: 'Carretera Jocotepec-Chapala 1561, 45822 Ajijic, Jal.',
        mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119752.28894769448!2d-103.46808600273435!3d20.289542700000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f43002eaf3781%3A0xe47c3eb25c4dadc!2sPasteler%C3%ADa%20america!5e0!3m2!1ses-419!2smx!4v1738038033105!5m2!1ses-419!2smx",
        href: '/jocotepec',

        
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics of our app"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  /> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="testimonials"
    testimonials={[
      {
        testimonial: `testimonios1`,
        name: 'Ana Pantoja',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar1.webp',
          alt: 'Ana Pantoja',
        },
      },
      {
        testimonial: `testimonios2`,
        name: 'Juan Antonio López Martínez',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar5.webp',
          alt: 'Juan Antonio López Martínez',
        },
      },
      {
        testimonial:'testimonios3',
        name: 'Lizzet Jimenez',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar2.webp',
          alt: 'Lizzet Jimenez',
        },
      },
      {
        testimonial: `testimonios4`,
        name: 'Celia Gutierrez',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar3.webp',
          alt: 'Celia Gutierrez',
        },
      },
      {
        testimonial: `testimonios5`,
        name: 'Lou Quillio',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar6.webp',
          alt: 'Lou Quillio',
        },
      },
      {
        testimonial: 'testimonios6',
        name: 'Beatryz Llanos',
        job: 'Google Maps.',
        image: {
          src: '~/assets/images/general/avatar6.webp',
          alt: 'Beatryz Llanos',
        },
      },
    ]}
    
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="FAQS"
    items={[
      {
        title: 'faqs1',
        description:
          'faqs_1',
      },
      {
        title: 'faqs2',
        description:
          'faqs_2',
      },
      {
        title: 'faqs3',
        description: `faqs_3`,
      },
      {
        title: 'faqs4',
        description:
          'faqs_4',
      },
      {
        title: 'faqs5',
        description:
          'faqs_5',
      },
      {
          title: 'faqs6',
          description: 'faqs_6'
}

    ]}
  />

  <!-- CallToAction Widget *********** -->

  
</Layout>
