---
import Image from "./common/Image.astro";
---
<div class="img-ct">
  <div class="logo-container">
    <Image class="logo-img" src="~/assets/images/general/progrespt.png" alt="logo">
  </div>
</div>

<style>
  .logo-container {
    width: 50px; 
    height: 50px;
    overflow: hidden; /* Oculta las partes sobrantes de la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img-ct {
    padding: 1px;
    border-radius: 20%;

  }

  .logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Evita que la imagen se deforme */
  }

  /* Ajustes para dispositivos móviles */
  @media (max-width: 768px) { 
    .logo-container {
      width: 50px;
      height: 50px;
    }
  }
</style>
