<div>
  <img class="h-20 w-20 mr-6 rounded-full" src="/images/logopastel.jpeg" alt="logo">
</div>

<style>
  .rounded-full {
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor circular */
  }
</style>
