---
import Image from "./common/Image.astro";
---

<div class="logo-container">
  <Image class="logo-img" src="~/assets/images/general/logopastel.webp" alt="logo">
</div>

<style>
  .logo-container {
    width: 80px; /* Ajusta el tamaño del contenedor */
    height: 80px;
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Oculta las partes sobrantes de la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Evita que la imagen se deforme */
  }

  /* Ajustes para dispositivos móviles */
  @media (max-width: 768px) { 
    .logo-container {
      width: 50px;
      height: 50px;
    }
  }
</style>
